name: Python App CI/CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest  

    permissions:
      id-token: write
      contents: read

    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # Configure AWS credentials using OIDC
      - name: AWS OIDC Login
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Login to Amazon ECR
      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      # Set ECR URI
      - name: Set ECR URI
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          echo "ECR_URI=$ACCOUNT_ID.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.ECR_REPO }}" >> $GITHUB_ENV

      #Build Docker image
      - name: Build Docker Image
        run: |
          docker build -t $ECR_URI:latest .

      #Push image to ECR
      - name: Push Docker Image
        run: |
          docker push $ECR_URI:latest

      #Deploy on EC2 via SSH
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_PUBLIC_IP }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            aws ecr get-login-password --region ${{ secrets.AWS_REGION }} \
              | docker login --username AWS --password-stdin $ECR_URI

            docker stop python-frontend || true
            docker rm python-frontend || true

            docker pull $ECR_URI:latest
            docker run -d -p 80:5000 --name python-frontend $ECR_URI:latest
